/* Estilo Geral (Desktop) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --cor-primaria: #fad8ab;
  --cor-secundaria: #ffeee0;
  --cor-secundaria-transp: rgb(255, 238, 224, 0);
  --cor-terciaria: #ffc181;
  --cor-quartenaria: #e18437;
  --cor-quintenaria: #ffc181;
}

body {
  background-color: var(--cor-primaria);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

i {
  margin: 10px;
}

hr {
  background-color: var(--cor-primaria);
  padding: 1px;
  border-radius: 10px;
  border: solid 1px var(--cor-primaria);
}

div {
  background-color: var(--cor-secundaria);
  text-align: center;
  padding: 5px;
}

input {
  padding: 5px;
  border-radius: 10px;
  border: var(--cor-secundaria);
  padding: 10px;
}

button {
  padding: 5px;
  border-radius: 10px;
  border: solid var(--cor-secundaria);
  background-color: var(--cor-primaria);
  padding: 10px;
}

button:hover {
  background-color: var(--cor-quartenaria);
  transform: scale(1.03);
}

img {
  width: 150px;
  height: 200px;
}

.page-wrapper {
  display: grid;
  grid-auto-rows: 1fr 5fr 1fr;

  min-height: 100vh;
}

/* Menu */
.menu {
  display: grid;
  gap: 10px;
  grid-template-areas: "logo home album sobre consulta search login cadastro";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
  justify-content: space-evenly;
  background-color: var(--cor-quintenaria);
  padding: 5px;
}

.menu > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-quintenaria);
}

.menu > div button {
  padding: 10px;
  border-radius: 10px;
  border: solid var(--cor-secundaria);
  background-color: var(--cor-primaria);
}

.menu > div button:hover {
  background-color: var(--cor-quartenaria);
  transform: scale(1.03);
}

.menu > div a {
  text-decoration: none;
  color: black;
}

/* Rodapé */
.rodape {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "text text text text"
    "linkedin github gupy help";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: rgb(107, 107, 107);
  background-color: var(--cor-quintenaria);
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.rodape > div {
  background-color: var(--cor-quintenaria);
}

.rodape > div.text {
  grid-area: text;
  background-color: var(--cor-secundaria);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rodape > div.linkedin {
  grid-area: linkedin;
}

.rodape > div.github {
  grid-area: github;
}

.rodape > div.gupy {
  grid-area: gupy;
}

.rodape > div.help {
  grid-area: help;
}

/* Logo e fundo */
.minilogo {
  width: 50px;
  height: auto;
}

.imgback {
  background-image: url("https://images.unsplash.com/photo-1508107536691-b1449928187d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmlibGlvdGVjYSUyMGFudGlnYXxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imgback2 {
  background-image: url("https://images.pexels.com/photos/877971/pexels-photo-877971.jpeg?cs=srgb&dl=pexels-juanpphotoandvideo-877971.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Flex container */
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--cor-primaria);
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-container > a {
  background-color: var(--cor-terciaria);
  margin: 10px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
}

.flex-container > img {
  margin: 10px;
  width: 50px;
  border-radius: 5px;
}

.flex-container > .nav-links > li {
  background-color: var(--cor-terciaria);
  width: 100px;
  margin: 1px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  padding: 5px;
  transition: background-color 0.3s ease;
}

/* Livros */
.livros {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.livro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 300px;
  background-color: var(--cor-secundaria);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.livro:hover {
  transform: scale(1.05);
}

.livro img {
  max-width: 125px;
  max-height: 200px;
  height: auto;
  margin-bottom: 10px;
}

.card {
  margin: 0 auto;
  width: 400px;
  height: 500px;
  background: var(--cor-secundaria-transp);
  text-align: center;
  border-radius: 10px;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    #ffc181,
    #e18437,
    #d86126,
    #c04b10
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 5s spin linear infinite;
}
.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.transparent {
  position: relative;
  overflow: hidden; 
  background-color: rgb(255, 255, 255, 0);
}

.visible {
  position: relative;
  overflow: hidden; 
  opacity: 1;
  z-index: +1;
}

/* Responsividade - Celular */
@media (max-width: 480px) {
  .menu {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "home"
      "album"
      "sobre"
      "consulta"
      "search"
      "login"
      "cadastro";
  }

  .rodape {
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "linkedin"
      "github"
      "gupy"
      "help";
  }

  .livros {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .card {
    width: 100%;
    height: auto;
  }

  .flex-container {
    flex-direction: column;
  }
}

/* Responsividade - Tablet */
@media (max-width: 768px) {
  .menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "logo home album sobre"
      "consulta search login cadastro";
  }

  .rodape {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "text text"
      "linkedin github"
      "gupy help";
  }

  .livros {
    grid-template-columns: repeat(3, 1fr);
  }

  .flex-container {
    flex-direction: column;
  }
}

/* Responsividade - Computador */
@media (min-width: 1024px) {
  .menu {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
  }

  .rodape {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .livros {
    grid-template-columns: repeat(5, 1fr);
  }

  .flex-container {
    flex-direction: row;
  }
}
